# PodDisruptionBudgets to ensure minimum availability during voluntary disruptions.
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: argocd-server-pdb
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-server
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: argocd-server
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: argocd-repo-server-pdb
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-repo-server
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: argocd-repo-server
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: argocd-dex-server-pdb
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-dex-server
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: argocd-dex-server
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: argocd-redis-pdb
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-redis
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: argocd-redis
