apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "otel-demo.fullname" . }}-flagd-config
  labels:
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: flagd
    app.kubernetes.io/name: {{ include "otel-demo.fullname" . }}-flagd-config
data:
  demo.flagd.json: |
    {{- if .Values.flagd.config.raw }}
    {{- .Values.flagd.config.raw | nindent 4 }}
    {{- else }}
    {
      "$schema": "https://flagd.dev/schema/v0/flags.json",
      "flags": {}
    }
    {{- end }}